@define-mixin buttonBig {
  @mixin ButtonBig;
  align-items: center;
  background: $gradientSI;
  border-radius: 4px;
  color: $white;
  display: inline-flex;
  height: 62px;
  justify-content: center;
  margin: 0;
  margin-bottom: 12px;
  max-width: 350px;
  text-align: center;
  width: 100%;

  &:hover {
    background: $redC;
    color: $white;
  }

  &:active {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-iteration-count: alternate;
    animation-name: toggleButton;
    border: $redC;
    color: $white;
  }

  @keyframes toggleButton {
    from {
      height: 62px;
      width: 100%;
    }

    25%,
    to {
      height: 46px;
      margin-bottom: 20px;
      margin-top: 8px;
      max-width: calc(350px - 16px);
      width: calc(100% - 16px);
    }
  }
}
