@define-mixin Heading1A {
  color: $black;
  font-family: $fontLeJeune;
  font-size: 3rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 3.6rem;

  @media (min-width: $smBreakpoint) {
    font-size: 4rem;
    line-height: 4.6rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 5rem;
    line-height: 5.8rem;
  }
}

@define-mixin Heading1B {
  color: $black;
  font-family: $fontLeJeune;
  font-size: 2.7rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 3.9rem;

  @media (min-width: $smBreakpoint) {
    font-size: 4rem;
    line-height: 5.4rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 5rem;
    line-height: 6.5rem;
  }
}

@define-mixin Heading1Special {
  color: $black;
  font-family: $fontLeJeune;
  font-size: 2.7rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 3.9rem;

  @media (min-width: $smBreakpoint) {
    font-size: 5rem;
    line-height: 6.5rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 8rem;
    line-height: 10.5rem;
  }
}

@define-mixin Heading2A {
  color: $black;
  font-family: $fontLeJeune;
  font-size: 2.7rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 3.4rem;

  @media (min-width: $smBreakpoint) {
    font-size: 3.3rem;
    line-height: 4rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 4.2rem;
    line-height: 5.1rem;
  }
}

@define-mixin Heading2B {
  color: $black;
  font-family: $fontLeJeune;
  font-size: 2.7rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 3.4rem;

  @media (min-width: $smBreakpoint) {
    font-size: 2.3rem;
    line-height: 2.9rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 3.3rem;
    line-height: 4rem;
  }
}

@define-mixin Heading3A {
  color: $black;
  font-family: $fontLeJeune;
  font-size: 1.9rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 2.3rem;

  @media (min-width: $smBreakpoint) {
    font-size: 2.3rem;
    line-height: 2.9rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 3.3rem;
    line-height: 4rem;
  }
}

@define-mixin Heading3B {
  color: $black;
  font-family: $fontLeJeune;
  font-size: 1.9rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 2.3rem;
}

@define-mixin Heading4 {
  color: $black;
  font-family: $fontBague;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.5rem;

  @media (min-width: $smBreakpoint) {
    font-size: 1.7rem;
    letter-spacing: inherit;
    line-height: 2.2rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 2rem;
    line-height: 2.7rem;
  }
}

@define-mixin Heading5 {
  color: $black;
  font-family: $fontBague;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2.2rem;

  @media (min-width: $smBreakpoint) {
    font-size: 2.1rem;
    line-height: 2.6rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}

@define-mixin Heading6 {
  color: $black;
  font-family: $fontBague;
  font-size: 2.1rem;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 700;
  line-height: 2.6rem;

  @media (min-width: $xlBreakpoint) {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}

@define-mixin Heading6White {
  @mixin Heading6;
  color: $white;
  text-shadow: $shadowF;
}

@define-mixin Heading7 {
  color: $black;
  font-family: $fontBague;
  font-size: 2.1rem;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 700;
  line-height: 2.6rem;

  @media (min-width: $smBreakpoint) {
    font-size: 3rem;
    line-height: 3.6rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 5rem;
    line-height: 6rem;
  }
}

@define-mixin HeadingCatch1 {
  color: $white;
  font-family: $fontBague;
  font-size: 1.2rem;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 900;
  letter-spacing: 0.5px;
  line-height: 1.4rem;
  text-shadow: 1px 1px 1px $black50;
  text-transform: uppercase;

  @media (min-width: $smBreakpoint) {
    text-shadow: 2px 2px 1px $black50;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@define-mixin HeadingCatch2 {
  color: $black;
  font-family: $fontBague;
  font-size: 1.2rem;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 900;
  letter-spacing: 0.5px;
  line-height: 1.4rem;
  text-transform: uppercase;

  @media (min-width: $xlBreakpoint) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@define-mixin HeadingCatch3 {
  color: $black;
  font-family: $fontBague;
  font-size: 1.2rem;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 900;
  letter-spacing: 0.5px;
  line-height: 1.4rem;
  text-transform: uppercase;

  @media (min-width: $smBreakpoint) {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@define-mixin HeadingCatch4 {
  color: $black;
  font-family: $fontBague;
  font-size: 1.2rem;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 900;
  letter-spacing: 0.5px;
  line-height: 1.4rem;
  text-transform: uppercase;
}

@define-mixin ArrowText {
  color: $white;
  font-family: $fontBague;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 900;
  line-height: 1.8rem;

  @media (min-width: $smBreakpoint) {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
}

@define-mixin HeadingOverview {
  color: $black;
  font-family: $fontBague;
  font-size: 2.5rem;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 900;
  letter-spacing: 3px;
  line-height: 2.5rem;
  text-transform: uppercase;

  @media (min-width: $smBreakpoint) {
    font-size: 4.6rem;
    letter-spacing: 10px;
    line-height: 4.6rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 6.6rem;
    letter-spacing: 15px;
    line-height: 6.6rem;
  }
}

@define-mixin HeadingOverviewDossier {
  color: $white;
  font-family: $fontBague;
  font-size: 2.5rem;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 2.5rem;
  text-shadow: $shadowA;
  text-transform: uppercase;

  @media (min-width: $smBreakpoint) {
    font-size: 4.8rem;
    letter-spacing: 15px;
    line-height: 4.8rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 9.6rem;
    letter-spacing: 20px;
    line-height: 9.6rem;
  }
}

@define-mixin HeadingOverviewCeleb {
  color: $black;
  font-family: $fontBague;
  font-size: 1.6rem;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 900;
  letter-spacing: 3px;
  line-height: 1.6rem;
  text-transform: uppercase;

  @media (min-width: $smBreakpoint) {
    font-size: 2.8rem;
    letter-spacing: 9px;
    line-height: 2.8rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 4.2rem;
    letter-spacing: 14px;
    line-height: 4.2rem;
  }
}

@define-mixin SectionTitle {
  color: $black;
  font-family: $fontBague;
  font-size: 1.6rem;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 1.6rem;
  text-transform: uppercase;

  @media (min-width: $xlBreakpoint) {
    font-size: 2.4rem;
    line-height: 2.5rem;
  }
}

@define-mixin SectionTitleSmall {
  color: $black;
  font-family: $fontBague;
  font-size: 1.13em;
  font-weight: 900;
  letter-spacing: 3px;
  line-height: 1.3rem;

  @media (min-width: $xlBreakpoint) {
    font-size: 1.5rem;
    letter-spacing: 4.2px;
    line-height: 1.9rem;
  }
}

@define-mixin SectionTitleRelated {
  color: $black;
  font-family: $fontBague;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 3px;
  line-height: 1.8rem;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $smBreakpoint) {
    font-size: 1.5rem;
    letter-spacing: 5px;
    line-height: 1.9rem;
  }
}

@define-mixin Lead1 {
  color: $black;
  font-family: $fontBague;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;

  @media (min-width: $smBreakpoint) {
    font-size: 2rem;
    line-height: 3.3rem;
  }
}

@define-mixin Lead2 {
  color: $black;
  font-family: $fontBague;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;

  @media (min-width: $smBreakpoint) {
    color: $white;
    font-size: 2rem;
    line-height: 3.3rem;
    text-shadow: $shadowA;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 2.8rem;
    line-height: 4.7rem;
  }
}

@define-mixin CatchQuestions {
  color: $black;
  font-family: $fontBague;
  font-size: 1.4rem;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 2.5rem;
  text-transform: uppercase;

  @media (min-width: $smBreakpoint) {
    font-size: 1.6rem;
    line-height: 3.3rem;
  }
}

@define-mixin Paragraph {
  color: $black;
  font-family: $fontBague;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.5rem;

  @media (min-width: $smBreakpoint) {
    font-size: 2rem;
    line-height: 3.3rem;
  }
}

@define-mixin Paragraph2 {
  color: $black;
  font-family: $fontBague;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.5rem;

  @media (min-width: $xlBreakpoint) {
    font-size: 2rem;
    line-height: 3.3rem;
  }
}

@define-mixin ParagraphBold {
  color: $black;
  font-family: $fontBague;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;

  @media (min-width: $smBreakpoint) {
    font-size: 2rem;
    line-height: 3.3rem;
  }
}

@define-mixin CaptionAuthorParagraph {
  color: $black;
  font-family: $fontBague;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.7rem;

  @media print {
    display: block;
    text-align: center;
  }
}

@define-mixin CaptionAuthorBlog {
  color: $redA;
  font-family: $fontBague;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.5px;
  line-height: 1rem;

  @media (min-width: $xlBreakpoint) {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

@define-mixin CaptionAuthorCopyRight {
  color: $grayB;
  font-family: $fontBague;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.7rem;

  @media print {
    display: block;
    text-align: center;
  }
}

@define-mixin CaptionTitleAuthorParagraph {
  color: $black;
  font-family: $fontBague;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.5px;
  line-height: 1.7rem;
}

@define-mixin BreadcrumbsWords {
  color: $grayC;
  font-family: $fontBague;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

@define-mixin BreadcrumbsSymbol {
  color: $grayC;
  font-family: $fontBague;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

@define-mixin Quote {
  color: $black;
  font-family: $fontLeJeune;
  font-size: 2.3rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem;

  @media (min-width: $smBreakpoint) {
    font-size: 2.7rem;
    line-height: 3.3rem;
  }
}

@define-mixin QuoteAuthor {
  color: $black;
  font-family: $fontBague;
  font-size: 1.2rem;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 900;
  letter-spacing: 0.5px;
  line-height: 1.4rem;
  text-transform: uppercase;

  @media (min-width: $xlBreakpoint) {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}

@define-mixin TagBanderole {
  color: $black;
  font-family: $fontBague;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 2rem;

  @media (min-width: $xlBreakpoint) {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
}

@define-mixin Tag {
  color: $black;
  font-family: $fontBague;
  font-size: 1.2rem;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 900;
  letter-spacing: 3px;
  line-height: 1.8rem;
  text-transform: uppercase;

  @media (min-width: $smBreakpoint) {
    font-size: 1.5rem;
    letter-spacing: 5px;
    line-height: 2.3rem;
  }
}

@define-mixin InlineHover {
  border-bottom: 1px solid $grayB;
  color: inherit;
  cursor: pointer;

  &:visited,
  &:link {
    color: inherit;
  }

  @media (min-width: $smBreakpoint) {
    &:hover {
      border-color: $redA;
    }
  }
}

@define-mixin TeaserHover {
  border-bottom: 1px solid transparent;
  color: inherit;
  cursor: pointer;

  &:visited,
  &:link {
    color: inherit;
  }

  @media (min-width: $smBreakpoint) {
    &:hover {
      border-color: $redA;
    }
  }
}

@define-mixin Paging {
  color: $grayC;
  font-family: $fontBague;
  font-size: 1.4rem;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 400;
  line-height: 1.8rem;
}

@define-mixin PagingActive {
  color: $black;
  font-family: $fontBague;
  font-size: 1.4rem;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 900;
  line-height: 1.8rem;
}

@define-mixin HeaderMenuItems {
  color: $white;
  font-family: $fontBague;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6rem;

  @media (min-width: $smBreakpoint) {
    font-size: 2rem;
    line-height: 2rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@define-mixin HeaderMenuItemsSelected {
  color: $white;
  font-family: $fontBague;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.6rem;

  @media (min-width: $smBreakpoint) {
    font-size: 2rem;
    line-height: 2rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@define-mixin MenuItems1 {
  color: $black;
  font-family: $fontBague;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 6rem;

  @media (min-width: $xlBreakpoint) {
    font-size: 4.2rem;
    line-height: 8rem;
  }
}

@define-mixin MenuItems2 {
  color: $black;
  font-family: $fontBague;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 6rem;

  @media (min-width: $xlBreakpoint) {
    font-size: 4.2rem;
    line-height: 8rem;
  }
}

@define-mixin MenuItems3 {
  color: $black;
  font-family: $fontBague;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 2rem;

  @media (min-width: $xlBreakpoint) {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}

@define-mixin MenuItems4 {
  color: $black;
  font-family: $fontBague;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2rem;

  @media (min-width: $xlBreakpoint) {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}

@define-mixin SearchEntry {
  color: $black;
  font-family: $fontBague;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 6rem;

  @media (min-width: $smBreakpoint) {
    font-size: 3.2rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 4.2rem;
    line-height: 8rem;
  }
}

@define-mixin HeaderIconsText {
  color: $black;
  font-family: $fontBague;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2rem;

  @media (min-width: $smBreakpoint) {
    font-size: 1.1rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }
}

/* https://rasch.invisionapp.com/d/main#/console/13936005/392765386/preview */
@define-mixin Meta1 {
  color: $black;
  font-family: $fontBague;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

@define-mixin Meta1RedA {
  @mixin Meta1;
  color: $redA;
}

@define-mixin Meta1Bold {
  color: $black;
  font-family: $fontBague;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

@define-mixin Meta1BoldRedA {
  @mixin Meta1Bold;
  color: $redA;
}

/* NOT FROM STYLE GUIDE */
@define-mixin ZodiacSignsOverlayTitle {
  color: $black;
  font-family: $fontBague;
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 1.4rem;
}

/* NOT FROM STYLE GUIDE */
@define-mixin ZodiacSignsOverlayIconTitle {
  color: $black;
  font-family: $fontBague;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 0.9rem;
}

@define-mixin Subheader {
  color: $black;
  font-family: $fontBague;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.8rem;

  @media (min-width: $smBreakpoint) {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }
}

@define-mixin LatestChannel {
  color: $black;
  font-family: $fontBague;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
}

@define-mixin AdCaption {
  color: $grayC;
  font-family: $fontBague;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

@define-mixin FormLabelBig {
  color: $black;
  font-family: $fontBague;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

@define-mixin FormLabelBigGrayC {
  @mixin FormLabelBig;
  color: $grayC;
}

@define-mixin FormLabelSmall {
  color: $black;
  font-family: $fontBague;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

@define-mixin FormLabelSmallGrayC {
  @mixin FormLabelSmall;
  color: $grayC;
}

@define-mixin SIIconFiles {
  display: inline;
  font-family: $fontIcons;
  margin-right: 1px;
  vertical-align: top;
}

/*
 *  Schweizer-Illustrierte - Buttons
 *  https://www.figma.com/file/TS9ySl2YVCWAqPuyyeDxZo/si_library_styleguide?node-id=0%3A17876
 */

@define-mixin ButtonBig {
  font-family: $fontBague;
  font-size: 1.9rem;
  font-weight: 900;
  line-height: 2.2rem;
}

@define-mixin ButtonSmall {
  font-family: $fontBague;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

@define-mixin ButtonBase {
  cursor: pointer;

  font-family: $fontBague;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

@define-mixin ButtonBaseBig {
  @mixin ButtonBase;
  @mixin ButtonBig;
  font-size: 1.8rem;
  height: 54px;
  line-height: 2.2rem;
  padding: 16px 24px;
}

@define-mixin ButtonBaseSmall {
  @mixin ButtonBase;
  @mixin ButtonSmall;
  font-size: 1.4rem;
  height: 34px;
  line-height: 1.8rem;
  padding: 8px 16px;
}

@define-mixin ButtonPrimary {
  background: $gradientSI;
  border: none;
  border-radius: 4px;
  color: $white;

  &:hover {
    background: $redC;
  }
}

@define-mixin ButtonSecondary {
  background: $white;
  border: 1px solid $redA;
  border-radius: 4px;
  color: $redA;

  &:hover {
    background: $white;
    border: 1px solid $redA;
    color: $redC;
  }
}

@define-mixin ButtonTertiary {
  border: none;
  color: $redA;

  &:hover {
    color: $redC;
  }
}

/* Primary Buttons */

@define-mixin ButtonPrimaryBig {
  @mixin ButtonPrimary;
  @mixin ButtonBaseBig;
}

@define-mixin ButtonPrimarySmall {
  @mixin ButtonPrimary;
  @mixin ButtonBaseSmall;
}

/* Secondary Buttons */

@define-mixin ButtonSecondaryBig {
  @mixin ButtonSecondary;
  @mixin ButtonBaseBig;
}

@define-mixin ButtonSecondarySmall {
  @mixin ButtonSecondary;
  @mixin ButtonBaseSmall;
}

/* Tertiary Buttons */

@define-mixin ButtonTertiaryBig {
  @mixin ButtonTertiary;
  @mixin ButtonBaseBig;
}

@define-mixin ButtonTertiarySmall {
  @mixin ButtonTertiary;
  @mixin ButtonBaseSmall;
}

@define-mixin RichTextLink {
  &:not([href*='schweizer-illustrierte.ch']) {
    &:not([href^='#']) {
      &:not([href^='/']) {
        &:not([href^='mailto:']) {
          &:not([href^='tel:']) {
            &:not([class*='teaser']) {
              &:not([class*='utility-button']) {
                &:not([class*='Icon']) {
                  &::after {
                    @mixin SIIconFiles;
                    content: '\e94d';
                    margin-left: 3px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media print {
    border-bottom: 0;

    &::after {
      display: none !important; /* stylelint-disable-line */
    }
  }
}
