.Table {
  width: 100%;
}

.TBodyTr {
  composes: ImageCaption from '../../../../assets/styles/typography.legacy.css';
  border-top: 1px solid $grey30;
  transition: background-color 0.3s, color 0.3s;

  &:nth-child(odd) {
    background-color: $grey10;
  }

  &:hover {
    background-color: $greenLight;
  }
}

.TBodyTd {
  padding: 8px 6px;
  vertical-align: middle;
}

.TableRow {
  &:nth-of-type(3) .FilterButton {
    min-width: 113px;
  }

  @media (max-width: $smBreakpoint) {
    &:first-of-type, &:nth-of-type(3), &:nth-of-type(5) {
      display: none;
    }
  }
}

.ImageWrapper {
  align-items: center;
  display: flex;
}

.Image {
  border-radius: 50%;
  height: 50px;
  max-width: 50px;
  overflow: hidden;
}

.FilterButton {
  composes: AuthorBook from '../../../../assets/styles/typography.legacy.css';
  background: none;
  border: none;
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 5px;
  min-width: 64px;
  padding: 4px 6px;
  position: relative;
  text-align: left;
  width: 100%;

  &:hover {
    cursor: pointer;

    .TriangleButton {
      display: inline-block;
    }
  }
}

.Icon {
  color: $grey70;
  font-size: 2.8rem;
  line-height: 3.3rem;
  margin-top: -10px;
  position: relative;
  top: 8px;
  transition: color 0.3s;
}

.TriangleButton {
  border-color: $transparent $transparent $black;
  border-style: solid;
  border-width: 0 5px 7px;
  display: none;
  margin-bottom: 2px;
  margin-left: 4px;
  transform: rotate(0deg);
}

.IsActive {
  display: inline-block;
}

.IsDesc {
  margin-bottom: 0;
  transform: rotate(180deg);
}
