.ShortTitleWrapper {
  height: 22px;
  line-height: 100%;

  @media (min-width: $smBreakpoint) {
    height: 26px;
  }

  @media (min-width: $mdBreakpoint) {
    height: 28px;
  }

  @media (min-width: $xlBreakpoint) {
    height: 29px;
    margin-bottom: $margin8;
  }
}

.TeaserTitle {
  color: $white;
  display: inline-block;
  font-family: $fontSpezia;
  font-weight: 900;
  left: 0;
  text-align: left;
}

.TeaserSTag {
  font-size: 1.1rem;
  padding: 0 5px 1px;

  @media (min-width: $mdBreakpoint) {
    font-size: 1.2rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 1.5rem;
    padding: 3px 5px 2px;
  }
}

.Play {
  background: $white;
  border-radius: 50%;
  color: $redA;
  font-size: 1rem;
  margin-right: $margin8;
  padding: 3px;
  position: relative;
  top: -3px;

  @media (min-width: $smBreakpoint) {
    top: -2px;
  }

  @media (min-width: $mdBreakpoint) {
    top: -3px;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 1.7rem;
    top: -1px;
  }
}
