.Wrapper {
  composes: GridRow from 'TeaserGrid/styles.legacy.css';
  padding-bottom: 50px;
  position: relative;
  width: 100%;

  @media print {
    display: none;
  }
}

.IndicatorWrapper {
  bottom: 30px;
  left: calc(50% - 12px);
  position: absolute;

  @media (min-width: $mdBreakpoint) {
    bottom: 24px;
  }

  @media (min-width: $xlBreakpoint) {
    bottom: 20px;
  }
}
