@define-mixin H2SansSerif {
  color: $black;
  font-family: $fontSpezia;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.9rem;
  text-align: center;

  @media (min-width: $smBreakpoint) {
    font-size: 3.6rem;
    line-height: 5.6rem;
  }

  @media (min-width: $mdBreakpoint) {
    font-size: 4.1rem;
    line-height: 6.3rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 4.6rem;
    line-height: 7.1rem;
  }
}

@define-mixin H2SansSerifCenter {
  @mixin H2SansSerif;
  text-align: center;
}

@define-mixin InfoboxH2 {
  color: $black;
  font-family: $fontSpezia;
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;

  @media (min-width: $smBreakpoint) {
    font-size: 2.3rem;
    line-height: 120%;
  }
}

@define-mixin ClaimSansSerif {
  color: $black;
  font-family: $fontSpezia;
  font-size: 1.6rem;
  line-height: 2.3rem;

  @media (min-width: $smBreakpoint) {
    font-size: 2rem;
    line-height: 3.3rem;
  }

  @media (min-width: $mdBreakpoint) {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 2.6rem;
    line-height: 3.6rem;
  }
}

@define-mixin ClaimSansSerifCenter {
  @mixin ClaimSansSerif;
  font-weight: 300;
  text-align: center;
}

@define-mixin ParagraphSansSerif {
  color: $black;
  font-family: $fontSpezia;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.7rem;
}

@define-mixin AdCaption {
  color: $greyA;
  font-family: $fontSpezia;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

@define-mixin FormLabelBigBlackA {
  color: $black;
  font-family: $fontSpezia;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
}

@define-mixin FormLabelBigBlackC {
  @mixin FormLabelBigBlackA;
  color: $grey70;
}

@define-mixin FormLabelSmallBlackA {
  color: $black;
  font-family: $fontSpezia;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 120%;
}

@define-mixin FormLabelSmallBlackC {
  @mixin FormLabelSmallBlackA;
  color: $grey70;
}

@define-mixin FormLabelSmallRedC {
  @mixin FormLabelSmallBlackA;
  color: $redC;
}

@define-mixin RaschIconFiles {
  display: inline;
  font-family: $fontRaschIcon;
  margin-right: 1px;
  vertical-align: top;
}

@define-mixin InfoboxParagraph {
  color: $black;
  font-family: $fontSpezia;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.5rem;

  @media (min-width: $smBreakpoint) {
    line-height: 2.7rem;
  }
}

@define-mixin InfoboxParagraphWhite {
  @mixin InfoboxParagraph;
  color: $white;
}

@define-mixin InfoboxParagraphBlackC {
  @mixin InfoboxParagraph;
  color: $grey70;
}

@define-mixin ButtonAWhite {
  color: $white;
  font-family: $fontSpezia;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.2rem;
}

@define-mixin ButtonARedA {
  @mixin ButtonAWhite;
  color: $redA;
}

@define-mixin ButtonARedB {
  @mixin ButtonAWhite;
  color: $redB;
}

@define-mixin ButtonBWhite {
  color: $white;
  font-family: $fontSpezia;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
}

@define-mixin ButtonBRedA {
  @mixin ButtonBWhite;
  color: $redA;
}

@define-mixin ButtonBRedB {
  @mixin ButtonBWhite;
  color: $redB;
}

/*
 *  Beobachter - Buttons
 *  https://www.figma.com/file/TS9ySl2YVCWAqPuyyeDxZo/si_library_styleguide?node-id=0%3A17876
 */

@define-mixin ButtonBig {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 120%;
}

@define-mixin ButtonSmall {
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.8rem;
}

@define-mixin ButtonBase {
  align-items: center;
  border-radius: 42px;
  cursor: pointer;
  display: flex;
  font-family: $fontSpezia;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: .3s;

  &:focus {
    outline: none;
  }

  @media print {
    display: none;
  }
}

@define-mixin ButtonBaseBig {
  @mixin ButtonBase;
  @mixin ButtonBig;
  padding: 12px 40px;
}

@define-mixin ButtonBaseSmall {
  @mixin ButtonBase;
  @mixin ButtonSmall;
  padding: 8px 24px;
}

@define-mixin ButtonPrimary {
  background: $black;
  border: 1px solid $black;
  color: $white;
  outline: none;

  &:hover {
    background-color: $grey80;
    border-color: $grey80;
  }
}

@define-mixin ButtonPrimaryHighAttention {
  background: $red;
  border: none;
  color: $white;

  &:hover {
    background-color: $redD;
  }
}

@define-mixin ButtonSecondary {
  background-color: $white;
  border: 1px solid $black;
  color: $black;

  &:hover {
    background-color: $white;
    border-color: $grey80;
    color: $grey80;
  }
}

@define-mixin ButtonSecondaryHighAttention {
  background-color: $white;
  border: 1px solid $red;
  color: $red;

  &:hover {
    background-color: $white;
    border: 1px solid $redD;
    color: $redD;
  }
}

@define-mixin ButtonTertiary {
  background: $white;
  border: none;
  color: $black;

  &:hover {
    color: $grey80;
  }
}

@define-mixin ButtonTertiaryHighAttention {
  background: $white;
  border: none;
  color: $red;

  &:hover {
    color: $redD;
  }
}

/* Primary Buttons */

@define-mixin ButtonPrimaryBig {
  @mixin ButtonPrimary;
  @mixin ButtonBaseBig;
}

@define-mixin ButtonPrimaryBigHighAttention {
  @mixin ButtonPrimaryHighAttention;
  @mixin ButtonBaseBig;
}

@define-mixin ButtonPrimarySmall {
  @mixin ButtonPrimary;
  @mixin ButtonBaseSmall;
}

@define-mixin ButtonPrimarySmallHighAttention {
  @mixin ButtonPrimaryHighAttention;
  @mixin ButtonBaseSmall;
}

/* Secondary Buttons */

@define-mixin ButtonSecondaryBig {
  @mixin ButtonSecondary;
  @mixin ButtonBaseBig;
}

@define-mixin ButtonSecondaryBigHighAttention {
  @mixin ButtonSecondaryHighAttention;
  @mixin ButtonBaseBig;
}

@define-mixin ButtonSecondarySmall {
  @mixin ButtonSecondary;
  @mixin ButtonBaseSmall;
}

@define-mixin ButtonSecondarySmallHighAttention {
  @mixin ButtonSecondaryHighAttention;
  @mixin ButtonBaseSmall;
}

/* Tertiary Buttons */

@define-mixin ButtonTertiaryBig {
  @mixin ButtonTertiary;
  @mixin ButtonBaseBig;
}

@define-mixin ButtonTertiaryBigHighAttention {
  @mixin ButtonTertiaryHighAttention;
  @mixin ButtonBaseBig;
}

@define-mixin ButtonTertiarySmall {
  @mixin ButtonTertiary;
  @mixin ButtonBaseSmall;
}

@define-mixin ButtonTertiarySmallHighAttention {
  @mixin ButtonTertiaryHighAttention;
  @mixin ButtonBaseSmall;
}

@define-mixin RichTextLink {
  border-bottom: 1px solid $black;
  color: $black;
  padding-bottom: 2px;
  transition: color 0.3s, border-bottom-color 0.3s;

  &:hover {
    border-bottom-color: $colorMail;
    color: $colorMail;
  }

  &:focus {
    border-bottom: 1px solid $greyB;
    color: $redA;
  }

  :global(.sponsored) & {
    color: $black;
    font-size: 1.6rem;
  }

  &:not([href*='beobachter.ch']) {
    &:not([href*='guider.ch']) {
      &:not([href^='#']) {
        &:not([href^='/']) {
          &:not([href^='mailto:']) {
            &:not([href^='tel:']) {
              &:not([class*='teaser']) {
                &:not([class*='utility-button']) {
                  &:not([class*='Icon']) {
                    &::after {
                      @mixin RaschIconFiles;
                      content: '\e921';
                      margin-left: 3px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media print {
    border-bottom: none;

    &::after {
      display: none !important; /* stylelint-disable-line */
    }
  }
}
