.Wrapper {
  composes: AuthorBook from 'typography.legacy.css';
  align-items: center;
  display: flex;
  margin-top: $margin8;

  @media (min-width: $smBreakpoint) {
    margin-top: $margin16;
  }

  .IconClock {
    display: inline-block;
    margin-right: $margin4;
    width: 13px; /* width is needed to prevent CLS */

    @media (min-width: $smBreakpoint) {
      width: 16px; /* width is needed to prevent CLS */
    }	  
  }
}
