.ButtonsWrapper {
  background: $greyE;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 10px;
}

.Title {
  composes: InfoH1Black from 'typography.legacy.css';
  margin-bottom: $margin16;
  margin-top: $margin16;
}

.Title2 {
  composes: H2SansSerifCenter from 'typography.legacy.css';
  margin-bottom: $margin16;
  margin-top: $margin16;
}
