.Wrapper {
  line-height: 0;
  position: relative;

  @media (min-width: $smBreakpoint) {
    height: 264px;
  }

  @media (min-width: $mdBreakpoint) {
    height: 299px;
  }

  @media (min-width: $xlBreakpoint) {
    height: 477px;
  }
}

.TeaserTitleWrapper {
  margin-bottom: 6px;
  max-width: 570px;
}

.InnerWrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

.Link {
  composes: Clearfix from 'helpers.legacy.css';

  /* create z-index stacking context for BE+ icon positioning */
  display: block;
  position: relative;
  z-index: 1;

  &::after,
  &::before {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: calc($zIndexMedium - 1);
  }

  &::after {
    background: $brandRepGradientDarkSm;

    @media (min-width: $smBreakpoint) {
      background: $brandRepGradientDark;
    }
  }

  &::before {
    background: $brandRepGradientGlareSm;
    z-index: calc($zIndexMedium - 2);

    @media (min-width: $smBreakpoint) {
      background: $brandRepGradientGlare;
    }
  }
}

.Image {
  height: auto;
  width: 100%;
}

.SponsorImage {
  max-height: 43px;
  max-width: 114px;
  position: absolute;
  right: 16px;
  top: 16px;
  width: auto;
  z-index: $zIndexMedium;

  @media (min-width: $smBreakpoint) {
    height: 61px;
  }

  @media (min-width: $xlBreakpoint) {
    right: 32px;
    top: 32px;
  }
}

.TeaserText {
  bottom: 12px;
  left: 0;
  padding: 0 16px;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: $zIndexMedium;

  @media (min-width: $xlBreakpoint) {
    padding: 0 32px;
  }
}

.BrandReportWrapper {
  margin: initial;
  margin-bottom: $margin8;
}

.BrandReport {
  background-color: $purple;
  color: $white;
  font-family: $fontSpezia;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.68rem;
  padding: 2px 6px;
}

.TeaserTitle {
  composes: H1Brandreport from 'typography.legacy.css';
  color: $white;
}

.AuthorWrapper {
  composes: TableContentWhite from 'typography.legacy.css';
  margin-top: 0;
}
