.MobileMenu {
  background-color: $white;
  inset: 0;
  position: fixed;
  transform: translateY(100%);
  transition: transform 0.3s;
  z-index: $zIndexOverlay;

  &.MobileMenuOpen {
    transform: translateY(0);
  }
}

.MobileMenuInner {
  composes: Container from '@grid.legacy.css';
  position: relative;
  top: calc(50% - 230px);
}

.MobileCloseIconWrapper {
  composes: Container from '@grid.legacy.css';
  color: $secondaryA;
  cursor: pointer;
  display: flex;
  font-size: 2.4rem;
  justify-content: flex-end;
  padding-top: 8px;
}
