.SubscribeButtonWrapper {
  align-items: center;
  appearance: none;
  background: $transparent;
  border: none;
  color: $redA;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  outline: none;
  padding: 0;
  position: relative;
  width: 97px;

  &:hover {
    .Text {
      text-decoration: underline;
    }
  }
}

.Text {
  align-items: center;
  display: flex;
  font-family: $fontBague;
  font-size: 1.5rem;
  font-weight: 400;
  height: 100%;
  left: 32px;
  line-height: 2rem;
  position: absolute;
  top: 0;
}

.Icon {
  font-size: 2.2rem;
  margin: $margin4 10px $margin4 0;
  transform-origin: 50% 25%;
}

.Active {
  font-weight: 700;
}

.Animating {
  animation: BellAnimation 500ms;
}

.LightTheme {
  color: $white;
}

@mixin BellAnimation;
