.Button {
  composes: NaviNeutralA from 'typography.legacy.css';
  border-radius: 4px;
  color: $neutralC;
  display: inline-block; 
  padding: 8px 16px;
  text-transform: uppercase;

  &:hover {
    color: $neutralA;
  }
}

.Active {
  background-color: $white;
  box-shadow: $shadowB;
  color: $neutralA;
}

.LanguageSwitch {
  background-color: $neutralG;
  border-radius: 4px;
  padding: 4px;
}
