.InnerWrapper {
  align-items: center;
  background: $greyE;
  display: flex;
  flex-direction: column;
  margin-bottom: $margin24;

  @media (min-width: $smBreakpoint) {
    margin-bottom: 0;
  }
}

.Text {
  composes: InfoParagraph from 'typography.legacy.css';
  font-weight: bold;
  margin: 0 $margin16 $margin24 $margin16;
  text-align: center;

  @media (min-width: $smBreakpoint) {
    max-width: 583px;
  }

  @media (min-width: $xlBreakpoint) {
    max-width: 1165px;
  }
}

.Icon {
  animation: BookmarkAnimation 500ms forwards;
  animation-delay: 500ms;
  color: $blackA;
  @mixin fontSize 80;
  @mixin lineHeight 80;
  margin: $margin24 auto $margin8 auto;
  transform-origin: 50% 25%;

  @media (min-width: $smBreakpoint) {
    margin: $margin48 auto $margin24 auto;
  }
}

.Wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: $margin56;

  @media (min-width: $smBreakpoint) {
    align-items: center;
    background: $greyE;
    margin-bottom: $margin40;
    padding-bottom: 48px;
  }
}

@mixin BookmarkAnimation;
