.ContentWrapper {
  > h2 {
    @mixin H2;
    background-color: $greyA;
    border-radius: 2px;
    color: $white;
    margin-bottom: $margin8;
    margin-top: $margin80;
    padding: 5px 15px;
    z-index: 0;
  }
}

.Title {
  composes: H1 from '../../assets/styles/typography.legacy.css';
  margin-top: $margin24;
}
