map $arg_f $sitemap {
    default   "index";
    "~.+"     "$arg_f";
}


map "$host:$arg_utm_medium" $redirectPreview {
    ~^preview.*:email$  1;
    default             0;
}

server {
    listen 8080;

    server_name _;

    resolver 8.8.8.8 valid=30s;

    # Calling the Drupal backend using cms.ringiermedienschweiz.ch goes through
    # Akamai, which can lead to timeouts since the feeds may take a while to
    # generate. Using the internal URL prevents this.
    set $drupal_backend "https://nginx.prod.rasch-backend-k8s-prod.prod.ras.dev:443";

    proxy_buffering on;
    proxy_buffer_size 128k;
    proxy_buffers 64 16k;
    proxy_busy_buffers_size 256k;

    port_in_redirect off;

    # Disable compression
    gzip off;

    # Proxy settings
    set $xPublication "schweizer-illustrierte";
    include /etc/nginx/conf.d/proxy.services;

    # Redirects
    include /etc/nginx/conf.d/proxy.redirects;

    location /pageview.txt {
      alias /etc/nginx/conf.d/pageview.txt;
    }

    location /robots.txt {
      alias /etc/nginx/conf.d/robots.txt;
    }

    location ~ ^/xml/ {
      return 404;
    }
    location ~ ^/rss/ {
      return 404;
    }
    location ~ ^/wp-login.php {
      return 404;
    }
    # block requests for Drupal sources on SSR
    location ~ ^/sites/all/ {
      return 404;
    }
    location ~ ^/sites/default/files/(styles|css|js)/ {
      return 404;
    }
    location ~ ^/style/sites/default/files/(styles|css|js)/ {
      return 404;
    }
    location ~ ^/system/acquia-connector-status {
      return 404;
    }
    location ~ ^/feeds/google_newsstand_7319e0c37ec146827606ecdf9d0bc9ad/3275 {
      return 404;
    }
    location ~ ^/jstats.php$ {
      return 404;
    }

    # News Sitemaps
    location /sitemap-news.xml {
      proxy_pass https://cde.hexagon.build/feeds/5yJOd3?token=ab06a1a3-7aa7-4a8e-978e-4d2007827ef5;
      proxy_http_version 1.1;
      proxy_ssl_server_name on;
      proxy_set_header Host $proxy_host;
    }

    # Time-limited sitemaps
    location ~ ^/sitemap-articles-time-limited(.*) {
      proxy_pass https://cde-sitemaps-production.s3.eu-west-1.amazonaws.com/feed-1838/sitemap-articles-time-limited$1;
      proxy_http_version 1.1;
      proxy_set_header Host $proxy_host;    
    }

    # Evergreen sitemaps
    location ~ ^/sitemap-articles-evergreen(.*) {
      proxy_pass https://cde-sitemaps-production.s3.eu-west-1.amazonaws.com/feed-2054/sitemap-articles-evergreen$1;
      proxy_http_version 1.1;
      proxy_set_header Host $proxy_host;
    }

    # Seasonal sitemaps
    location ~ ^/sitemap-articles-seasonal(.*) {
      proxy_pass https://cde-sitemaps-production.s3.eu-west-1.amazonaws.com/feed-2055/sitemap-articles-seasonal$1;
      proxy_http_version 1.1;
      proxy_set_header Host $proxy_host;
    }

    # Category sitemaps
    location /sitemap-category.xml {
      proxy_pass https://cde.hexagon.build/feeds/B3Bv53?token=ab06a1a3-7aa7-4a8e-978e-4d2007827ef5;
      proxy_http_version 1.1;
      proxy_ssl_server_name on;
      proxy_set_header Host $proxy_host;
    }

    # Sitemaps
    location ~ ^/sitemap.xml$ {
      proxy_pass "$drupal_backend/sites/default/files/sitemap/general/schweizer_illustrierte/$sitemap.xml";
      proxy_http_version 1.1;
      proxy_set_header Host $proxy_host;
    }

    # Image sitemap
    location ~ ^/image-sitemap.xml$ {
      proxy_pass "$drupal_backend/sites/default/files/sitemap/image/schweizer_illustrierte/$sitemap.xml";
      proxy_http_version 1.1;
      proxy_set_header Host $proxy_host;
    }

    # Author sitemaps
    location ~ ^/sitemap-authors.xml$ {
      proxy_pass "$drupal_backend/sites/default/files/sitemap/author/schweizer_illustrierte/author-sitemap.xml";
      proxy_http_version 1.1;
      proxy_set_header Host $proxy_host;
    }

    # SMD feed
    location ~ ^/feed/smd$ {
      rewrite ^/feed/smd$ /feeds/smd/10? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # RSS feed
    location ~ ^/rss_feed$ {
      rewrite ^/rss_feed$ /feeds/rss/10? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # RSS feed latest dynamic
    location ~ ^/feeds/latest/([0-9]?[0-9])/([0-9]*)$ {
      rewrite ^/feeds/latest/([0-9]?[0-9])/([0-9]*)$ /feeds/latest/$1/$2 break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed all contents
    location ~ ^/msn.xml$ {
      rewrite ^/msn.xml$ /feeds/msn_articles/10? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed Family
    location ~ ^/msn-family.xml$ {
      rewrite ^/msn-family.xml$ /feeds/msn_articles/10/97644? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed People
    location ~ ^/msn-people.xml$ {
      rewrite ^/msn-people.xml$ /feeds/msn_articles/10/81406? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed Style
    location ~ ^/msn-style.xml$ {
      rewrite ^/msn-style.xml$ /feeds/msn_articles/10/81421? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed Body & Health
    location ~ ^/msn-body-health.xml$ {
      rewrite ^/msn-body-health.xml$ /feeds/msn_articles/10/97645? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed style/fashion
    location ~ ^/msn-style-fashion.xml$ {
      rewrite ^/msn-style-fashion.xml$ /feeds/msn_articles/10/81422? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed style/beauty
    location ~ ^/msn-style-beauty.xml$ {
      rewrite ^/msn-style-beauty.xml$ /feeds/msn_articles/10/81425? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed style/lifestyle
    location ~ ^/msn-style-lifestyle.xml$ {
      rewrite ^/msn-style-lifestyle.xml$ /feeds/msn_articles/10/81428? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed style/living
    location ~ ^/msn-style-living.xml$ {
      rewrite ^/msn-style-living.xml$ /feeds/msn_articles/10/81429? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed family/freizeit
    location ~ ^/msn-family-freizeit.xml$ {
      rewrite ^/msn-family-freizeit.xml$ /feeds/msn_articles/10/98190? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed family/alltag
    location ~ ^/msn-family-alltag.xml$ {
      rewrite ^/msn-family-alltag.xml$ /feeds/msn_articles/10/98191? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed family/rezepte
    location ~ ^/msn-family-rezepte.xml$ {
      rewrite ^/msn-family-rezepte.xml$ /feeds/msn_articles/10/98765? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed family/familien-geschichten
    location ~ ^/msn-family-familien-geschichten.xml$ {
      rewrite ^/msn-family-familien-geschichten.xml$ /feeds/msn_articles/10/98189? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed people/swiss-stars
    location ~ ^/msn-people-swiss-stars.xml$ {
      rewrite ^/msn-people-swiss-stars.xml$ /feeds/msn_articles/10/81407? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed people/international-stars
    location ~ ^/msn-people-international-stars.xml$ {
      rewrite ^/msn-people-international-stars.xml$ /feeds/msn_articles/10/81410? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }
 
    # MSN feed people/royals
    location ~ ^/msn-people-royals.xml$ {
      rewrite ^/msn-people-royals.xml$ /feeds/msn_articles/10/81409? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed body-health/mind
    location ~ ^/msn-body-health-mind.xml$ {
      rewrite ^/msn-body-health-mind.xml$ /feeds/msn_articles/10/97661? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed body-health/fitness
    location ~ ^/msn-body-health-fitness.xml$ {
      rewrite ^/msn-body-health-fitness.xml$ /feeds/msn_articles/10/97659? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed body-health/food
    location ~ ^/msn-body-health-food.xml$ {
      rewrite ^/msn-body-health-food.xml$ /feeds/msn_articles/10/97660? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed body-health/health
    location ~ ^/msn-body-health-health.xml$ {
      rewrite ^/msn-body-health-health.xml$ /feeds/msn_articles/10/98488? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # MSN feed body-health/girltalk
    location ~ ^/msn-body-health-girltalk.xml$ {
      rewrite ^/msn-body-health-girltalk.xml$ /feeds/msn_articles/10/102183? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed all contents
    location ~ ^/feeds/flipboard/all$ {
      rewrite ^/feeds/flipboard/all$ /feeds/flipboard/10/all? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Family
    location ~ ^/feeds/flipboard/family$ {
      rewrite ^/feeds/flipboard/family$ /feeds/flipboard/10/97644? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Family Freizeit
    location ~ ^/feeds/flipboard/family/freizeit$ {
      rewrite ^/feeds/flipboard/family/freizeit$ /feeds/flipboard/10/98190? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Family Alltag
    location ~ ^/feeds/flipboard/family/alltag$ {
      rewrite ^/feeds/flipboard/family/alltag$ /feeds/flipboard/10/98191? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Family Rezepte
    location ~ ^/feeds/flipboard/family/rezepte$ {
      rewrite ^/feeds/flipboard/family/rezepte$ /feeds/flipboard/10/98765? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Family familien-geschichten
    location ~ ^/feeds/flipboard/family/familien-geschichten$ {
      rewrite ^/feeds/flipboard/family/familien-geschichten$ /feeds/flipboard/10/98189? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed People
    location ~ ^/feeds/flipboard/people$ {
      rewrite ^/feeds/flipboard/people$ /feeds/flipboard/10/81406? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed People swiss-stars
    location ~ ^/feeds/flipboard/people/swiss-stars$ {
      rewrite ^/feeds/flipboard/people/swiss-stars$ /feeds/flipboard/10/81407? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed People international-stars
    location ~ ^/feeds/flipboard/people/international-stars$ {
      rewrite ^/feeds/flipboard/people/international-stars$ /feeds/flipboard/10/81410? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed People royals
    location ~ ^/feeds/flipboard/people/royals$ {
      rewrite ^/feeds/flipboard/people/royals$ /feeds/flipboard/10/81409? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Style
    location ~ ^/feeds/flipboard/style$ {
      rewrite ^/feeds/flipboard/style$ /feeds/flipboard/10/81421? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Style Fashion
    location ~ ^/feeds/flipboard/style/fashion$ {
      rewrite ^/feeds/flipboard/style/fashion$ /feeds/flipboard/10/81422? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Style Beauty
    location ~ ^/feeds/flipboard/style/beauty$ {
      rewrite ^/feeds/flipboard/style/beauty$ /feeds/flipboard/10/81425? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Style Lifestyle
    location ~ ^/feeds/flipboard/style/lifestyle$ {
      rewrite ^/feeds/flipboard/style/lifestyle$ /feeds/flipboard/10/81428? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Style Living
    location ~ ^/feeds/flipboard/style/living$ {
      rewrite ^/feeds/flipboard/style/living$ /feeds/flipboard/10/81429? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Body&Health
    location ~ ^/feeds/flipboard/body-health$ {
      rewrite ^/feeds/flipboard/body-health$ /feeds/flipboard/10/97645? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Body&Health mind
    location ~ ^/feeds/flipboard/body-health/mind$ {
      rewrite ^/feeds/flipboard/body-health/mind$ /feeds/flipboard/10/97661? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Body&Health fitness
    location ~ ^/feeds/flipboard/body-health/fitness$ {
      rewrite ^/feeds/flipboard/body-health/fitness$ /feeds/flipboard/10/97659? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Body&Health food
    location ~ ^/feeds/flipboard/body-health/food$ {
      rewrite ^/feeds/flipboard/body-health/food$ /feeds/flipboard/10/97660? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Body&Health health
    location ~ ^/feeds/flipboard/body-health/health$ {
      rewrite ^/feeds/flipboard/body-health/health$ /feeds/flipboard/10/98488? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Flipboard feed Body&Health girltalk
    location ~ ^/feeds/flipboard/body-health/girltalk$ {
      rewrite ^/feeds/flipboard/body-health/girltalk$ /feeds/flipboard/10/102183? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }

    # Google Publisher Center feed
    location ~ ^/google_publisher_center.xml$ {
      rewrite ^/google_publisher_center.xml$ /feeds/google_publisher_center/10? break;
      proxy_set_header X-RAS-PUBLICATION 'api.schweizer-illustrierte.ch';
      proxy_set_header Host $proxy_host;
      proxy_pass $drupal_backend;
      proxy_http_version 1.1;
    }
    
    location ~* \.(eot|otf|ttf|woff|woff2)$ {
      add_header Access-Control-Allow-Origin *;

      proxy_pass ${NGINX_PROXY_PASS};
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection 'upgrade';
      proxy_set_header Host $host;
      proxy_cache_bypass $http_upgrade;
    }

    location / {

      # redirect AMP requests
      if ($query_string = amp) {
        rewrite ^(.*)$ https://$host$1? permanent;
      }

      #redirect rule for preview links in newsletter
      if ($redirectPreview) {
        rewrite ^/(.*) https://www.schweizer-illustrierte.ch/$1 permanent;
      }

      proxy_pass ${NGINX_PROXY_PASS};
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection 'upgrade';
      proxy_set_header Host $host;
      proxy_cache_bypass $http_upgrade;
    }
}
