.IsAdvertorial {
  background: $redA;
  color: $white;
  line-height: 1;
  padding: 3px 6px;
}

.TeaserTitleBase {
  color: $greyA;
  font-family: $fontSpezia;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 2.7rem;
  margin-bottom: $margin8;

  @media (min-width: $smBreakpoint) {
    font-size: 2.7rem;
    line-height: 3.3rem;
    margin-bottom: 10px;
  }
}

/**
* used in
*  - TeaserHeroDefault
*  - teaserMainDefaultStyles
*/

.TeaserTitle {
  composes: TeaserTitleBase;
  font-size: 2.3rem;
  line-height: 2.7rem;
  margin-bottom: $margin8;

  @media (min-width: $smBreakpoint) {
    font-size: 3.9rem;
    line-height: 4.6rem;
    margin-bottom: 12px;
  }
}

/**
* used in
*  - TeaserHeroDefault
*  - TeaserSecondaryDefault
*/

.TeaserImageWrapper {
  display: inline-block;
  position: relative;
}

.AuthorAvatar {
  display: none;

  @media (min-width: $smBreakpoint) {
    border-radius: 50%;
    display: block;
    height: 73px;
    width: 73px;
  }

  @media (min-width: $xlBreakpoint) {
    margin: 0;
  }
}

.AuthorAvatarFirst {
  box-shadow: 0 2px 17px 0 $black;
}

.AuthorAvatarSecond {
  left: -10px;
  position: relative;
  z-index: -1;
}

.AuthorWrapperInner {
  display: block;

  &.hasImage {
    margin-left: 0;

    @media (min-width: $smBreakpoint) {
      margin-left: 17px;
    }

    @media print {
      left: 0;
      margin-left: 0;
    }
  }
}

.LongReadDateWrapper {
  composes: Clearfix from 'helpers.legacy.css';
  color: $white;
  font-family: $fontSpezia;
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $smBreakpoint) {
    margin-bottom: 23px;
  }

  @media (min-width: $mdBreakpoint) {
    margin-bottom: 59px;
  }

  @media (min-width: $mdBreakpoint) {
    margin-bottom: 62px;
  }
}

.LongReadDateAuthorWrapper {
  composes: LongReadDateWrapper;
  align-items: center;
  display: flex;
}
