.UtilityBarWrapper {
  @mixin hideforPrint;

  @media (min-width: $smBreakpoint) {
    margin-block: $margin8 $margin24;
    position: relative;
    width: 100%;
    z-index: 999;
  }

  @media (min-width: $xlBreakpoint) {
    margin-top: 0;
    text-align: center;
  }
}

.UtilityOverlayWrapper {
  composes: Row from '@grid.legacy.css';
  left: 0;
  position: relative;

  @media (min-width: $smBreakpoint) {
    top: 4px;
  }

  @media (min-width: $xlBreakpoint) {
    margin: 0 auto;
    max-width: 732px;
  }
}

.ArticleBody {
  :global(#app) {
    @media screen {
      padding-bottom: 70px;
    }
  
    @media (min-width: $smBreakpoint) {
      padding-bottom: 0;
    }
  }
}

.ArticleHeroWrapper {
  background-color: $white;
  margin-bottom: 32px;

  @media (min-width: $smBreakpoint) {
    margin-bottom: 40px;
  }

  @media (min-width: $mdBreakpoint) {
    margin-bottom: 48px;
  }
}

.PlayerWrapper {
  margin-bottom: $margin16;
  margin-top: -$margin16;

  @media (min-width: $smBreakpoint) {
    margin-bottom: 0;
    margin-top: $margin16;
  }
}

.Hidden {
  display: none;
}
