.Wrapper {
  composes: Container from '@grid.legacy.css';
}

.ImageWrapper {
  position: relative;

  @media (max-width: $xsBreakpointTo) {
    background-color: $white;
    margin-left: -19px;
    width: calc(100% + 38px);
  }
}

.Image {
  display: block;
}

.CaptionContainer {
  height: 100%;
  position: relative;

  @media (max-width: $xsBreakpointTo) {
    margin-inline: 19px;
  }
}
