.Wrapper {
  background-color: $blackA;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;

  :global(.is-in-view) {
    height: 100%;
  }

  > iframe {
    height: inherit;
    width: 100%;
  }
}

.LoaderWrapper {
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}

.Loader {
  color: $white;
  display: inline-block;
  font-size: 2rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

:global(.video-js:hover .vjs-big-play-button),
:global(.video-js .vjs-volume-level),
:global(.video-js .vjs-play-progress),
:global(.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected) {
  background-color: $secondaryA;
}
