.Skeleton {
  animation: pulsing 5s infinite;
  background: linear-gradient(90deg, $greyD, $greyC, $greyD);
  background-size: 200% 100%;
  border-radius: 4px;
  width: 100%;
  z-index: 1000;
}

@keyframes pulsing {
  50% {
    background-position: 100% 50%;
  }
}
