.AuthorsPage {
  background: $white;
}

.HeaderWrapper {
  background-color: $greyE;
  padding-bottom: 40px;
  padding-top: 16px
}

.ShortTitle {
  composes: ShortTitle1TextSecondary from 'typography.legacy.css';
  display: inline-block;
  margin-bottom: $margin16;
}

.Title {
  composes: TeaserTitleH1 from 'typography.legacy.css';
  margin: 0 auto $margin8;

  @media (min-width: $xlBreakpoint) {
    margin-bottom: $margin16;
  }
}

.Lead {
  composes: Lead1 from 'typography.legacy.css';
  
  font-family: $fontSourceSerifPro;
  @mixin fontSize 18;
  @mixin lineHeight 25;

  @media (min-width: $smBreakpoint) {
    @mixin fontSize 22;
    @mixin lineHeight 32;
  }

  @media (min-width: $xlBreakpoint) {
    text-align: left !important; /* stylelint-disable-line */ /* to override compose Lead */
  }
}

.AuthorsWrapper {
  padding: 24px 0;
}

.Divider {
  background-color: $greyD;
  height: 1px;
}
