.Wrapper {
  composes: Container from '@grid.legacy.css';
  background-color: $grey10;
  border-radius: 8px;
  flex-direction: column;
  margin-top: 50px;
  overflow: hidden;

  @media (min-width: $smBreakpoint) {
    align-items: center;
    display: grid;
    flex-direction: row;
    gap: 24px;
    grid-template-columns:1fr 222px;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 70px;
    min-height: 222px;
    padding-left: 24px;
  }

  @media (min-width: $mdBreakpoint) {
    gap: 32px;
    grid-template-columns:1fr 222px;
    margin-top: 90px;
  }

  @media (min-width: $lgBreakpoint) {
    grid-template-columns:1fr 236px;
  }

  @media (min-width: $xlBreakpoint) {
    grid-template-columns:1fr 300px;

    margin-bottom: 54px;
    margin-top: 100px;
  }
}

.ContentWrapper {
  align-items: center;
  margin: 16px 0;
  padding: 0 16px;
  text-align: center;

  @media (min-width: $smBreakpoint) {
    flex-grow: 1;
    order: 0;
    padding: 0;
    text-align: left;
  }
}

.ImageWrapper {
  order: 0;
  text-align: center;

  @media (min-width: $smBreakpoint) {
    flex-grow: 1;
    order: 1;
    width: 222px;
  }

  @media (min-width: $lgBreakpoint) {
    width: 236px;
  }

  @media (min-width: $xlBreakpoint) {
    width: 300px;
  }
}

.HeadlineWrapper {
  composes: SubheadXL from 'typography.legacy.css';
}

.Tagline {
  composes: TaglineXl from 'typography.legacy.css';
  padding-bottom: 4px;
}

.TeaserImage {
  height: auto;
  max-height: 288px;
  max-width: 288px;
  width: auto;
  z-index: 0;

  @media (min-width: $smBreakpoint) {
    max-height: 222px;
    max-width: 100%;
    width: auto;
  }

  @media (min-width: $mdBreakpoint) {
    max-height: 222px;
  }

  @media (min-width: $lgBreakpoint) {
    max-height: 236px;
  }

  @media (min-width: $xlBreakpoint) {
    max-height: 300px;
  }
}

.BodyTextWrapper {
  composes: DescriptionLG from 'typography.legacy.css';
  color: $greyB;
  padding-top: 16px;

  & a {
    display: contents;
  }
}

.ButtonWrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

  @media (min-width: $smBreakpoint) {
    margin: 25px 0 0;
  }
}

.LeadWrapper {
  color: $black;
  overflow: hidden;
}

.WrapperInGuideArticle {
  margin-left: 0;
  width: 100%;
}
