.teaserSponsors {
  /* Mobile */
  .Grid0 {
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 30px;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(1, auto);
    margin-bottom: 30px;

    @for $index from 0 to 20 {
      .Item$(index) {
        grid-area: calc($index + 1) / 1 / calc($index + 2) / 25;
      }
    }
  }

  /* Tablet */
  @media (min-width: $smBreakpoint) {
    .Grid0 {
      display: grid;
      grid-column-gap: $gridGutterWidthSm;
      grid-row-gap: $margin40;
      grid-template-columns: repeat(24, 1fr);
      grid-template-rows: repeat(1, auto);
      margin-bottom: $margin40;

      .Item0 { grid-area: 1 / 1 / 2 / 9; }
      .Item1 { display: none; }
      .Item2 { grid-area: 1 / 9 / 2 / 17; }
      .Item3 { grid-area: 1 / 17 / 2 / 25; }
      .Item4 { grid-area: 2 / 1 / 3 / 9; }
      .Item5 { grid-area: 2 / 9 / 3 / 17; }
      .Item6 { grid-area: 2 / 17 / 3 / 25; }
      .Item7 { grid-area: 3 / 1 / 4 / 9; }
      .Item8 { grid-area: 3 / 9 / 4 / 17; }
      .Item9 { grid-area: 3 / 17 / 4 / 25; }
      .Item10 { grid-area: 4 / 1 / 5 / 9; }
      .Item11 { grid-area: 4 / 9 / 5 / 17; }
      .Item12 { grid-area: 4 / 17 / 5 / 25; }
      .Item13 { grid-area: 5 / 1 / 6 / 9; }
      .Item14 { grid-area: 5 / 9 / 6 / 17; }
      .Item15 { grid-area: 5 / 17 / 6 / 25; }
      .Item16 { grid-area: 6 / 1 / 7 / 9; }
      .Item17 { grid-area: 6 / 9 / 7 / 17; }
      .Item18 { grid-area: 6 / 17 / 7 / 25; }
    }
  }

  @media (min-width: $xlBreakpoint) {
    .Grid0 {
      grid-column-gap: $gridGutterWidthXl;
    }
  }
}
