.AuthorDetails {
  @media (min-width: $smBreakpoint) {
    align-items: flex-start;
    display: flex;
  }
}

.PictureWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.Initials,
.Picture {
  background: $greyB;
  border-radius: 50%;
  height: 70px;
  width: 70px;

  @media (min-width: $smBreakpoint) {
    height: 115px;
    width: 115px;
  }
}

.Initials {
  align-items: center;
  background: $greyB;
  color: $grey70;
  display: flex;
  font-family: $fontRecife;
  font-size: 2.7rem;
  font-weight: 700;
  justify-content: center;
  line-height: 2.9rem;

  @media (min-width: $smBreakpoint) {
    font-size: 3.9rem;
    line-height: 2.9rem;
  }

  @media (min-width: $xlBreakpoint) {
    font-size: 5rem;
    line-height: 2.9rem;
  }
}

.DetailsContent {
  @media (min-width: $smBreakpoint) {
    margin-left: 14px;
  }

  @media (min-width: $mdBreakpoint) {
    margin-left: 21px;
  }

  @media (min-width: $xlBreakpoint) {
    margin-left: 24px;
  }
}

.Name {
  composes: TeaserTitleH1 from 'typography.legacy.css';

  align-items: center;
  display: flex;
}

.SubscribeButton {
  margin-left: $margin24;
}

.Headline {
  composes: Lead from 'typography.legacy.css';

  margin-bottom: $margin16;

  @media (min-width: $xlBreakpoint) {
    text-align: left !important; /* stylelint-disable-line */ /* to override compose Lead */
  }
}

.ContactsList {
  @media (min-width: $smBreakpoint) {
    display: flex;
    flex-wrap: wrap;
    gap: 0 32px;
  }
}

.ContactItem {
  margin-bottom: $margin24;

  &.Dropdown {
    margin-bottom: $margin48;
    margin-inline: $outerGapXs;

    .ContactLink {
      color: $black;

      .ContactIcon {
        fill: $black;

        path {
          fill: $black;
        }
      }
    }
  }
}

.IconWrapper {
  height: 14px;
  margin-right: 8px;
  width: 14px;
}

.ContactIcon {
  fill: $greyA;
  height: 14px;
  width: 14px;
}

.ContactLink {
  composes: Publishingdate from 'typography.legacy.css';

  align-items: flex-start;
  display: flex;
  font-weight: 325;

  &:hover {
    color: $black;

    .ContactIcon {
      fill: $black;

      path {
        fill: $black;
      }
    }
  }
}

.NameAndButtonWrapper {
  align-items: center;
  display: flex;

  margin-bottom: $margin4;

  @media (min-width: $smBreakpoint) {
    margin-bottom: $margin8;
  }
}
