.Wrapper {
  position: relative;
}

.Buttons {
  border-bottom: 1px solid $greyC;
  cursor: pointer;
  display: flex;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;

  .Active {
    border-bottom: 2px solid $secondaryA;
    color: $secondaryA;
    padding: 8px 16px 6px;
  }
}

.Button {
  composes: InfoC from 'typography.legacy.css';
  border: 0;
  cursor: pointer;
  font-weight: 700;
  padding: 8px 14px;
  text-align: center;
  text-wrap: nowrap;


  @media (min-width: $xlBreakpoint) {
    padding: 8px 16px;
  }

  &:focus {
    background-color: $white;
  }

  &:focus-visible {
    background-color: $decoA;

    &:hover {
      background-color: $decoA;
      cursor: pointer;
    }
  }
}

.ScrollButtonLeft {
  left: -10px;
  position: absolute;
  top: 7px;
}

.ScrollButtonRight {
  position: absolute;
  right: -10px;
  top: 7px;
}
