.SelectField {
  composes: SelectFieldParagraph from 'typography.legacy.css';
  background-color: $greyE;
  border-bottom: 1px solid $greyC;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  display: block;
  line-height: 2; /* special case because the default line-height would break the SelectField */
  margin: $margin24 0 0;
  padding: 6px 8px 4px;
  text-align:left;
  width: 100%;
  
}

.SelectFieldIcon {
  color: color($blackB a(70%));
  float: right;
  font-size: 2.3rem;
  letter-spacing: -0.9px;
  margin-top: 7px;
  pointer-events: none;
}

.MobileIcon {
  position: relative;
  right: 6px;
  top: -39px;
}

.HasError {
  border-color: $red;
  color: $red;
}

.ErrorMessage {
  color: $blue;
}

.OptionItemsWrapper {
  background-color: $greyE;
  box-shadow: 3px 3px 20px $blackB;
  display: block;
  margin-left: -5px;
  margin-right: -5px;
  max-height: 300px;
  overflow-y: scroll;
  padding: 13px 33px;
  position: absolute;
  width: calc(100% + 10px);
  z-index: 1;
}

.OptionItem {
  composes: SelectFieldParagraph from 'typography.legacy.css';
  border: none;
  cursor: pointer;
  display: block;
  height: 30px;
  padding: 0;
  text-align: left;
  width: 100%;

  &:hover {
    color: $blue;
  }
}
