.UserProfileWrapper {
  composes: WrapperTopPadding from 'typography.legacy.css';
  margin-bottom: $margin16;

  @media (min-width: $smBreakpoint) {
    margin-bottom: 92px;
  }
}

.Title {
  composes: SubheadXXL from 'typography.legacy.css';
  margin-bottom: $margin32;
  text-align: left;

  @media (min-width: $mdBreakpoint) {
    text-align: center;
  }
}

.DeviceIdWrapper {
  color: $greyB;
  font-size: 12px;
  margin-top: 10px
}
