.Wrapper {
  display: flex;
  font-family: $fontSansSerif;
  padding: 0;

  .Link,
  .ActiveLink {
    display: flex;
    flex-grow: 1;
    font-size: 2rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    justify-content: center;
    line-height: 2rem;
    padding: 8px 0 4px;
    text-align: left;
    width: auto;
  }
}

.MobileWrapper {
  display: block;
  font-family: $fontSansSerif;
}

.Link,
.ActiveLink {
  color: $navblue;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 3.8rem;
  margin-bottom: 8px;
  text-align: center;
  width: calc(100% / 5);
}

.Link {
  opacity: 0.5;
}

.ActiveLink {
  opacity: 1;
}
