.Link {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  line-height: 1;
  min-width: 73px;
  outline: none;
  position: relative;
  width: 73px;

  @media (min-width: 375px) and (max-width: 385px){
    min-width: 69px;
    width: 69px;
  }

  @media (max-width: 375px){
    min-width: 40px;
    width: 40px;
  }

  &.Active,
  &:hover {
    p:not(.CommentCount),
    span:not(.CommentCount, :global(.vf-comments-count)),
    .Icon {
      path {
        color: $black;
        fill: $black;
        transition: color 0.3s, fill 0.3s;
      }
    }

    .Label {
      color: $black;
    }

    span.Badge, div.Badge {
      background-color: $greyA;
      transition: background-color 0.3s;
    }
  }
}

.HeaderLink {
  min-width: 40px;
  width: 40px;

  >.Badge {
    right: 3px;
    top: 3px;
  }
}

.Icon {
  border: 1px solid $grey30;
  border-radius: 50%;
  display: flex;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
  padding: 7px;
  position: relative;
  width: 40px;


  path {
    fill: $black;

    @media(min-width: $mdBreakpoint) {
      fill: $greyA;
    }
  }
}

.Badge {
  background-color: $black;
  border-radius: 50%;
  content: '';
  height: 16px;
  line-height: 16px;
  position: absolute;
  right: 14px;
  text-align: center;
  top: 0;
  width: 16px;
  z-index: 0;

  @media (max-width: 375px){
    right: 0;
  }

  &.Restricted {
    background-color: $greyA;
  }
}

.CommentCount {
  composes: Meta4WhiteBold from 'typography.legacy.css';
  position: relative;
  top: -3px;
  z-index: $zIndex1;
}

:global(.vf-comments-count) {
  color: $white;
  font-family: $fontSpezia;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  position: relative;
  top: -3px;
  z-index: $zIndex1;
}

:global(div:has( > #vf-conversations-count:empty)) {
  display: none;
}


.Label {
  composes: TableContent from 'typography.legacy.css';
  font-size: 1.3rem;
  text-align: center;
  user-select: none;
  white-space: nowrap;

  @media (min-width: $smBreakpoint) {
    color: $grey70;

    &:hover {
      color: $black;
    }
  }
  @media (max-width: 375px){
    display: none;
  }
}

.LinkOverlay {
  margin-bottom: $margin8;
  top: 0;

  .Icon {
    border: none;
    border-radius: unset;
  }
}

.Restricted {
  .Label,
  .Icon {
    color: $greyA;
    fill: $greyA;
    transition: color 0.3s, fill 0.3s;
  }
}
