.entityQueueDefaultFirst {
  margin-bottom: $margin32;

  .Grid0 {
    .Item {
      margin-bottom: $margin24;
    }
  }

  @media (min-width: $smBreakpoint) {
    margin-top: $margin32;

    .Grid0 {
      .Item {
        margin-bottom: $margin32;

        &:not(:nth-last-child(-n+2)) {
          border-bottom: 1px solid $grey30;
        }

        &:has(:global(.ad-wrapper)) {
          border-bottom: none;
        }
      }
    }
  }

  @media (min-width: $mdBreakpoint) {
    .Grid0 {
      display: grid;
      grid-column-gap: $margin16;
      grid-template-columns: repeat(24, 1fr);
      grid-template-rows: repeat(24, auto);
    }

    .Item {
      margin-bottom: $margin24;

      &:not(.Item0, .Item1) {
        /* noinspection CssUnresolvedCustomProperty */
        grid-area: calc(var(--item-index) + 1) / 1 / calc(var(--item-index) + 2) / 16;
      }

      &:nth-last-child(-n+2) {
        border-bottom: none;
      }

      &:last-child {
        border-left: 1px solid $grey30;
        grid-area: 2 / 16 / last / 25;
        margin-left: 12px;
        padding-left: 28px;
      }
    }

    .Item0 { grid-area: 1 / 1 / 2 / 25; }
    .Item1 { display: none }
  }

  @media (min-width: $xlBreakpoint) {
    .Grid0 {
      grid-column-gap: $margin24;

      .Item {
        margin-bottom: $margin32;

        &:not(.Item0, .Item1) {
          /* noinspection CssUnresolvedCustomProperty */
          grid-area: calc(var(--item-index) + 1) / 1 / calc(var(--item-index) + 2) / 17;
        }

        &:last-child {
          grid-area: 2 / 17 / last / 25;
          margin-left: 12px;
          padding-left: 28px;
        }
      }
    }
  }
}
