.Wrapper {
  @mixin hideforPrint;
  composes: Wrapper from 'ModalOverlay/components/DefaultModalOverlay/styles.legacy.css';
  background-color: $black15;
  top: $headerHeightXs;

  @media (min-width: $smBreakpoint) {
    top: $headerHeightSm;
  }

  @media (min-width: $mdBreakpoint) {
    display: none;
  }
}

.FadeIn {
  composes: FadeIn from 'ModalOverlay/components/DefaultModalOverlay/styles.legacy.css';
}

.BodyClass {
  composes: BodyClass from 'ModalOverlay/components/DefaultModalOverlay/styles.legacy.css';
}
